<table class="table table-bordered">
    <thead>
        <tr>
            <td width="80">Action</td>
            <td>Product Name</td>
            <td>Description</td>          
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                <form method="POST" action="/dashboard/products/delete/{{this.id}}?_method=DELETE">
                    <a href="/dashboard/products/edit/{{this.id}}" class="btn btn-xs btn-default">
                        <i class="fa fa-edit"></i>
                    </a>
                    {{!-- <button onclick="return false" type="submit" class="btn btn-xs btn-danger disabled">
                    <i class="fa fa-times"></i>
                </button> --}}

                    <button onclick="return confirm('Are you sure?');" type="submit" class="btn btn-xs btn-danger">
                        <i class="fa fa-times"></i>
                    </button>
                </form>

            </td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            {{!-- <td><img src="/uploads/{{this.image}}" alt="category_image"></td> --}}
        </tr>
        {{/each}}

    </tbody>
</table>